<!--Nosotros de la empresa-->
@{
    ViewBag.Title = "About";
}
<br />
<div class="about">
    <div class="row">
        @*<div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">*@
        <h1 class="caption-h">Quienes Somos</h1>
        <p class="text-h">
			<b>Industrial Tools</b> es una marca lider en comercialización de herramientas para usuarios profesionales.
            Mecánicos, carpinteros, herreros, electricistas, plomeros y todas aquellas personas que dependen de sus herramientas para realizar su oficio, encuentran en <b>Industrial Tools</b> herramientas de gran calidad a su alcance.
</p>
        @*</div>*@
        @*<div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
                <img src="~/images/img2-e.jpg" />
            </div>*@
    </div>
    <br />
	<div class="row" style="align-content:center !important;">				
		<div class="col-lg-12 col-md-12 col-xs-12" style="vertical-align: middle;">
			<h2 class="caption-h">Misión</h2>
			<br />
			<div class="col-lg-4 col-md-4 col-xs-4" style="vertical-align: middle;">
				<img src="~/images/p2.jpg" style="border-radius: 50%;" />
			</div>
			<p class="text-h">Disfrutar generando los recursos necesarios para mantener a los clientes seguros, eficientes y rentables, creando, diseñando y fabricando soluciones de valor a través de la innovación derivada de la escucha activa.</p>
		</div>
	</div>
    <br />
    <div class="row">        
		<div class="col-lg-12 col-md-12 col-xs-12" style="vertical-align: middle;">
			<h1 class="caption-h">Visión</h1>
			<br />
			<div class="col-lg-4 col-md-4 col-xs-4" style="vertical-align: middle;">
				<img src="~/images/p1.jpg" style="border-radius: 50%;" />
			</div>
			<p class="text-h">Ser el  el proveedor integral de herramientas y soluciones de ingeniería, que mejor satisface las necesidades de seguridad y eficiencia de los usuarios más exigentes, mediante la innovación constante.</p>
		</div>
    </div>
    <br />
</div>
